[submodule ".registry"]
	path = .registry
	url = https://github.com/elianhugh/universe
	shallow = true
	branch = HEAD
[submodule "enumr"]
	path = enumr
	url = https://github.com/ElianHugh/enumr
	shallow = true
	branch = dev
	registered = true
